@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

/* body{
  margin: 0%, 20%;
} */
.signup {
  background-image: url(../public/burger-with-melted-cheese.webp);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  width: 500px;
  position: relative;
  color: white;
  overflow: hidden;
}

.login {
  background-image: url(../public/burger-with-melted-cheese.webp);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  width: 500px;
  position: relative;
  color: white;
  overflow: hidden;
}

.signup {
  background-image: url(../public/burger-with-melted-cheese.webp);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  width: 500px;
  position: relative;
  color: white;
  overflow: hidden;
}
@media (max-width: 768px) {
  .login {
    height: 100%;
  }
}
.admin {
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  width: 700px;
  position: relative;
  color: white;
  overflow: hidden;
}
.card {
  background-repeat: no-repeat;
  background-size: cover;
  height: 50%;
  width: 100%;

  position: relative;
  color: white;
  overflow: hidden;
}
